<div class="wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="container">
      <app-breadcrumbs></app-breadcrumbs>
      <!-- Mi sistema de rutas -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block"><b>Version</b> 3.0.0</div>
    <strong
      >Copyright &copy; 2014-2019
      <a href="http://adminlte.io">AdminLTE.io</a>.</strong
    >
    All rights reserved.
  </footer>
</div>
