<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
          <a class="titulo"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg">Loguearse para iniciar sesión</p>
      
            <form [formGroup]="login">
              <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Correo" formControlName="email">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <p *ngIf="validateFields('email')" class="danger">
                El corrreo es requerido
              </p>
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <p *ngIf="validateFields('password')" class="danger">
                La constraseña es requerida
              </p>
              <div class="row">
                <!-- /.col -->
                <div class="col-12">
                  <button type="submit" class="btn btn-success btn-block" (click)="loginSubmit()">Iniciar sesión</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
          </div>
          <!-- /.login-card-body -->
        </div>
      </div>
</div>